html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
h1 {
    background-color: black;
    color: salmon;
    font-family: "Righteous", sans-serif;
    font-style: italic;
    padding: 30px;
    margin: 0; 
    text-align: center; 
    line-height: 1.5;    
}
nav.navbar {
    background-color: salmon; 
    width: 100%;
    padding: 10px;
}

nav.navbar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
}

 nav.navbar ul li {
    display: inline; 
    margin: 0 20px; 
    font-family: Arial, Helvetica, sans-serif;
}

section img {
    padding: 40px;
    display: block;
    margin: 0 auto;
}

hr {
    height: 1px;
    background-color: black;
}
section.fill {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 40px;
}

section.fill h2 {
    font-family: "Righteous", sans-serif;
    font-style: bold;
    color: black
}

p{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 55px;
    color: gray;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    padding: 30px;
    margin: 30;
    width: 100%;
    text-align: center;
}

p.footer{
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
}
section h2 {
    font-family: "Righteous", sans-serif;
    font-style: bold;
    color: black;
    padding-left: 30px;
}

main.tabla {
    flex: 1;
    padding: 50px;
    padding-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: smaller;
    align-content: center;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

th {
    font-weight: bold;
}
